.wrapper {
 display: grid;
 grid-template-columns: 63px 63px 63px 63px 63px 63px 63px 63px 63px;
 grid-gap: 5px;
 color: #444;
 }
 .box {
 color: #fff;
 border-radius: 5px;
 padding: 0px;
 }
 .wrapperA {
 display: grid;
 grid-template-columns: 180px 180px 230px;
 grid-gap: 20px;
 }
 select {
 width:192px;
 padding:2px;
 border:none;
 -webkit-appearance: none;
 }
 p.small {
 line-height: 1.31;
 }
.axis path,
.axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}
.axis text{
  fill: white;
  font-size: 20px;
}
.line {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}
#chart {
  width: 108%;
  height: 100%;
}
