/* style specific to manpages */
.manpage h2 {
  text-transform: lowercase;
  border-top: 15px solid #101010;
  font-size: 150%;
  font-weight: bold;
  color: #ffffff;
  margin-top: 0.75em;
}

.manpage h1 {
  border: none;
  color: #ffffff;
}

.manpage .code {
  font-weight: bold;
}

.manpage .code2 {
  font-family: monospace, fixed;
  font-size: 75%;
}

.manpage p.closemargin {
  margin-bottom: 0;
  padding-bottom: 0;
}

.manpage p.closemargin .code {
  color: #eab72c;
}

.manpage p.closemargin .code2 {
  color: #ffffff;
}

.manpage p.farmargin {
  margin-bottom: 1em;
  margin-left: 3em;
  margin-top: 0em;
}
