@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 500;
  src: local('Maven Pro Medium'), local('MavenProMedium'), url(css/maven-pro.woff) format('woff');
}

body
{
   background: #000000;
   color: #aaaaaa;
/*   font-family: Andale Mono, Lucidatypewriter, monospace;*/
   font-family: 'Maven Pro', sans-serif;
   font-size: 1.5em;
   text-align: center;
}

a,
a:visited
{
   color: #eab72c;
   text-decoration: none;
   font-weight: bold;
}

a:hover,
a:visited:hover
{
   color: #bb2222 !important;
   text-decoration: none;
   font-weight: bold;
}

/* lists */
ul li
{
  color: #aaaaaa;
  font-weight: normal;
  list-style: none;
}

ul li::before {
  content: "• ";
  color: #eab72c;
}

li a
{
  color: #eab72c;
  font-weight: normal;
}

li a.el
{
  font-weight: normal;
}

li a:hover
{
  color: #ffffff !important;
  font-weight: normal;
}

.mlpack_title
{
   text-align: center;
   padding-left: 100px;
   padding-right: 100px;
   height: 100px;
   vertical-align: center;
}

.mlpack_titlebar
{
   width: 700px;
   margin: auto;
}

.mlpack_titlefont
{
/*   padding-top: 0.6em;*/
   color: #ffffff;
   font-weight: bold;
   font-size: 2em;
}

.mlpack_subtitle
{
   color: #aaaaaa;
   font-size: 1em;
}

.separator
{
   clear: both;
   min-height: 1em;
}

.separator2
{
  clear: both;
  height: 0;
}

div.version
{
  padding-top: 1em;
  color: #ffffff;
}

.subsection
{
  background-color: #202020;
  border: 15px solid #101010;
  width: 320px;
  height: 250px;
  float: left;
  display: table-cell;
  vertical-align: middle;
} 

.mainsection
{
  background-color: #202020;
  border: 30px solid #101010;
  width: 640px;
  padding: 15px;
  text-align: left;
}

.smallsection
{
  background-color: #202020;
  border-left: 30px solid #101010;
  border-right: 30px solid #101010;
  border-bottom: 30px solid #101010;
  width: 640px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: left;
}

.smallsection ul
{
  padding-bottom: 5px;
  margin-bottom: 0;
  padding-top: 5px;
  margin-top: 0;
}

font.whitebold
{
  font-weight: bold;
  color: #ffffff;
}

font.gray
{
  color: #aaaaaa;
}

#download
{
   padding-top: 70px;
   height: 180px;
}

#tutorials
{
   padding-top: 75px;
   height: 175px;
}

#about
{
  padding-top: 45px;
  height: 205px;
}

#dev
{
   padding-top: 75px;
   height: 175px;
}

.mlnavbar
{
  width: 620px;
  padding-left: 100px;
  padding-top: 5px;
}

.mlnavbar .mlnavitem
{
  float: left;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 24px;
}
.mlnavbar .mlnavitem a,
.mlnavbar .mlnavitem a:visited
{
  color: #eab72c;
}
.mlnavbar .mlnavitem a:hover,
.mlnavbar .mlnavitem a:visited:hover
{
  color: #bb2222;
}

.mlnavbar .mlnavsel
{
  float: left;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: bold;
  color: #ffffff;
}

.smallertext
{
  font-size: 75%;
}

.smallwhitetext
{
  font-size: 75%;
  color: #ffffff;
}

p.footnote
{
  border-top: 15px solid #101010;
  padding-top: 1em;
}

h2
{
  font-size: 200%;
  border-bottom: 15px solid #101010;
  font-family: 'Maven Pro', sans-serif;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}

h2.withtop
{
  font-size: 200%;
  border-bottom: 15px solid #101010;
  border-top: 15px solid #101010;
  font-family: 'Maven Pro', sans-serif;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}

h4
{
  font-size: 100%;
  border-bottom: 15px solid #101010;
  font-family: 'Maven Pro', sans-serif;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
  color: #eab72c;
/*  text-align: center;*/
}

.code
{
  font-family: monospace, fixed;
}

div.irccal
{
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  background-color: #101010;
  width: 420px;
  font-family: monospace, fixed;
  margin-bottom: 10px;
}

div.irccalheaderrow
{
  font-weight: bold;
  font-family: monospace, fixed;
}

div.irccalheadercell
{
  float: left;
  width: 60px;
  text-align: center;
  font-family: monospace, fixed;
}

div.irccalinvalidcell
{
  float: left;
  width: 60px;
  font-family: monospace, fixed;
}

div.irccalcell
{
  float: left;
  width: 60px;
  text-align: center;
  font-family: monospace, fixed;
}

div.irccalactivecell
{
  float: left;
  width: 60px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-family: monospace, fixed;
}

div.irccalfuturecell
{
  float: left;
  width: 60px;
  text-align: center;
  color: #444444;
  font-family: monospace, fixed;
}

div.irccalmonth
{
  text-align: center;
  color: #eab72c;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

div.irccalnavleft
{
  float: left;
  color: #444444;
}

div.irccalnavright
{
  float: right;
  color: #444444;
}

div.irccaltop
{
  font-weight: bold;
  font-family: 'Maven Pro', sans-serif;
  font-size: 1.5em;
  padding-bottom: 5px;
  border-bottom: 8px solid #202020;
  margin-bottom: 5px;
}

div.irccalallnav
{
  font-size: 75%;
  text-align: center;
}

font.irclotsoflines
{
  color: #ffffff;
}

font.irclotsoflines2
{
  color: #eab72c;
}

font.irclotsoflines3
{
  color: #eab72c;
  font-weight: bold;
}

font.ircnick0 { color: #eab72c; }
font.ircnick1 { color: #59a188; }
font.ircnick2 { color: #a4a004; }
font.ircnick3 { color: #5f47bd; }
font.ircnick4 { color: #d7369b; }
font.ircnick5 { color: #49e857; }
font.ircnick6 { color: #d2e0b9; }
font.ircnick7 { color: #2863da; }
font.ircnick8 { color: #ca2bee; }
font.ircnick9 { color: #0baf8d; }
font.ircnick10 { color: #db0a24; }
font.ircnick11 { color: #e67dfd; }
font.ircnick12 { color: #646b2a; }
font.ircnick13 { color: #c90209; }
font.ircnick14 { color: #a68199; }
font.ircnick15 { color: #4da20a; }
font.ircnick16 { color: #d802aa; }
font.ircnick17 { color: #1059a9; }
font.ircnick18 { color: #ae8a79; }
font.ircnick19 { color: #dc38e1; }
font.ircnick20 { color: #944cb3; }
font.ircnick21 { color: #e1fadc; }
font.ircnick22 { color: #156d4a; }
font.ircnick23 { color: #a8c7a1; }
font.ircnick24 { color: #801ad6; }
font.ircnick25 { color: #f5cf3d; }
font.ircnick26 { color: #7c077c; }
font.ircnick27 { color: #4c7767; }
font.ircnick28 { color: #5aa3b8; }
font.ircnick29 { color: #2fcb66; }
font.ircnick30 { color: #8b867c; }

div.lines { float: right; }
div.irclogchatlines { padding-left: 100px; padding-right: 100px }

h3
{
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
