<div class="header-logo-menu">
  <div class="header-logo-menu-left">
    <a href="{{ site.baseurl }}">
	  <img id="logo-img" src="{{ site.baseurl | prepend: site.baseurl | replace: '//', '/' }}img/mlpack-black.svg" alt="mlpack" align="top" border="0">
    </a>
  </div>
  <!--<div id="ens_header_spacer"></div>-->
  <!--<div id="ens_header_cell_logo_txt"><big><big><b>mlpack</b></big></big></div>-->
  
  <div id="nav-links" class="header-logo-menu-right">
      <!-- Nav pages -->
    {% assign sorted_pages = site.pages | sort:"order" %}
    {% if page.layout == "docs" %}
      {% for node in sorted_pages %}
        {% if node.layout == "default-nav" or node.layout == "docs-nav" %}
          {% if node.title == "Documentation" %}
            <a href="{% if site.baseurl == "/" %}{{ node.url }}{% else %}{{ node.url | prepend: site.baseurl }}{% endif %}" class="active" title="{{ node.title }}">{{ node.title }}</a>
          {% else %}
            {% if node.title == "Github" %}
              <a href="https://github.com/mlpack/mlpack/" title="{{ node.title }}">{{ node.title }}</a>
            {% else %}
              <a href="{% if site.baseurl == "/" %}{{ node.url }}{% else %}{{ node.url | prepend: site.baseurl }}{% endif %}" title="{{ node.title }}">{{ node.title }}</a>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% else %}
      {% for node in sorted_pages %}
        {% if node.layout == "default-nav" or node.layout == "docs-nav" %}
          {% if node.url == page.url %}
            <a href="{% if site.baseurl == "/" %}{{ node.url }}{% else %}{{ node.url | prepend: site.baseurl }}{% endif %}" class="active" title="{{ node.title }}">{{ node.title }}</a>
          {% else %}
            {% if node.title == "Github" %}
              <a href="https://github.com/mlpack/mlpack/" title="{{ node.title }}">{{ node.title }}</a>
            {% else %}
              <a href="{% if site.baseurl == "/" %}{{ node.url }}{% else %}{{ node.url | prepend: site.baseurl }}{% endif %}" title="{{ node.title }}">{{ node.title }}</a>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
  <div style="clear: both;"></div>
</div>