/*- Custom style -*/

.link-special {
  padding:5px;
  border:1px solid black;
}

body {
 /* max-width: 1600px;*/
 -webkit-font-smoothing: antialiased;
}

ul, ol {
  margin-left: 30px;
}

ul ul {
  margin-bottom: 0px;
}

ul ul li a {
  font-weight: normal;
}

ul ul ul li a {
  font-style: italic;
}

h1 {
  border-top: 5px solid #000000;
}

/*h3 {
  float: left;
  margin-right: 1em;
}*/

h6 {
  font-style: italic;
  font-weight: normal;
}

div.highlight {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 85%;
  background: #202020;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 25px;
  display: inline-block;
  min-width: calc(100% - 60px);
}

code {
  color: black;
  background-color: #cccccc;
  border-radius: 3px;
  padding: 5px;
  box-shadow: inset 0 -1px 0 rgba(27,31,35,.12);
}

code.highlighter-rouge {
  font-size: 85%;
  line-height: 85%;
}

li {
  line-height: 150%;
}

p {
  line-height: 135%;
}

table {
  padding-left: 30px;
  padding-bottom: 30px;
  max-width: calc(100% - 30px);
}

table th {
  padding-left: 15px;
  padding-right: 15px;
  overflow-wrap: break-word;
  background: #404040;
}

table td {
  padding-left: 10px;
  padding-right: 10px;
  overflow-wrap: break-word;
}

table tr:nth-child(even), table tr:nth-child(even) td, table tr:nth-child(even) th {
  background: #101010;
}

table tr:nth-child(odd), table tr:nth-child(odd) td, table tr:nth-child(even) th {
  background: #202020;
}

h1#ensmallen-documentation {
  text-align: center;
  border-top: none;
  padding-top: 0;
}

div.MathJax_Display {
  color: #000000;
}

#ens_header {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
}

@media (max-width: 940px) {
  #ens_header {
    margin-bottom: 20px;
    border-bottom: 5px solid #eab72c;
  }
}

#ens_header_row
  {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  }

#ens_header_cell_logo_img
{
  /*flex: 9;*/
  vertical-align: bottom;
  text-align: right;
  padding-top: 1.0em;
  min-width: 50px;
  float:left;
}

#ens_header_spacer {
  flex: 1;
}

#logo-img {
  max-width:  100%;
  max-height: 100%;
  width: 50px;
  margin-bottom: 10px;
}

#ens_header_cell_logo_txt
  {
/*   border: 1px solid #999999; */
  flex: 90;
  text-align: left;
  line-height: 150%;
  }

#nav-links {
  /*background: #222222;*/
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50px;
  margin-bottom: 10px;
  /*border-top: 5px solid #111111;
  border-bottom: 5px solid #111111;*/
}

#nav-links a {
  color: #616161;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 110%;
}

#nav-links a:hover {
  color: #bb0000;
}

#nav-links a.active:hover {
  color: #bb0000;
  font-weight: bold;
}

#nav-links a.active {
  border-bottom: 5px solid #bb0000;
}

@media (min-width: 940px) {
#nav.menu-open {
  display: none;
}
}

body
{
  /*background: #ffffff;*/
  background-image: linear-gradient(to right bottom, #ffffff, #fcfcfc, #f9f9f9, #f5f6f6, #f2f3f3);
}

strong
{
  color: $text-color;
}

h2
{
  color: #616161;
  font-size: 175%;
  font-weight: normal;
  border-bottom: 1px solid #bb0000;
  margin-bottom: 10px;
  padding-bottom: 1px;
  margin-top: 2em;
}

h3
{
  font-size: 130%;
  line-height: 1.0em;
  margin-left: 20px;
  color: #616161;
  display: inline-block;
  /*border-bottom: 1px solid #bb0000;*/
  padding-bottom: 1px;
  margin-bottom: 1em;
  font-weight: normal;
}

h4
{
  font-size: 130%;
  line-height: 1.0em;
  padding-top: 0;
  /*padding-left: 20px;*/
  padding-bottom: 1em;
  color: #616161;
  font-weight: normal;
  margin-top: 20px;
}

select.doxygen-version-select
{
  color: #ddd;
  background: transparent;
  border: none;
  height: 29px;
  padding: 5px;
  width: 220px;
}

select.doxygen-version-select option
{
  color: #ddd;
  background: #000;
  border: 2px solid #333333;
}

#container 
{
  margin-left: 30px;
  margin-right: 30px;
}

@-webkit-keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}
@keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}

.hero-overlay
{
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/img/banner2.png");*/
  height: 25em;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-left: -30px; margin-right: -30px; /* compensate body margin */
  margin-bottom: 30px;
  
  background: linear-gradient(45deg, rgba(255,175,189,.3), rgba(100,216,243,.3), rgba(234,236,198,.3), rgba(245,146,176,.3), rgba(52,219,216,.3)) 0 0 / 1000% no-repeat, url({{ site.baseurl }}/img/banner2.png) 0 0 / cover no-repeat;
  -webkit-animation: gradientAnimation 40s ease infinite;
  animation: gradientAnimation 40s ease infinite;
}

.hero-text
{
  font-size: 180%;
  color: white;
  line-height: 1.0em;
  /*background:rgba(255,255,255,0.5);*/
  position: absolute;
  top:50%;
  left:5%;
  padding:1rem;
  transform:translateY(-50%);
  /*max-width: 20%;*/
}

.hero-logo {
  position: absolute;
  bottom: 0px;
  right: 250px;
  background-image: url("/img/corner-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 250px;
}

.intro-text
{
  margin-left: auto;
  margin-right: auto;
  /*width: 50em;*/
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  /*max-width: 50%;*/
  padding: 15px;
}

@media screen and (min-width: 1279px) {
	.intro-text {
		width: 50%;
	}
}

@media screen and (max-width: 1279px) {
	.intro-text {
		width: 80%;
	}
}

.intro-header
{
  text-align: center;
  color: $text-color;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin: 15px;
}

.header-logo-menu 
{
  /*background-color: #f2f3f3;*/
  -moz-box-shadow: inset 0 -3px 3px -3px #000000;
  -webkit-box-shadow: inset 0 -3px 3px -3px #000000;
  box-shadow: inset 0 -3px 3px -3px #000000;
}

.header-logo-menu-left 
{
  float: left;
  margin-left: 40px;
  margin-top: 10px;
}

.header-logo-menu-right 
{
  float: left;
  margin-left: 30px;
  margin-top: 10px;
}

footer
{
  height: 100px;
  background-color: #f2f3f3;
  color: #898c8f;
}

.button-download
{
  text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  background-color: transparent;
  font-size: 0.7em;
  border: 1px solid #fff;
  padding: 0.5em 1em;
  margin-top: 0.5em;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}

.button-download:hover
{
  background-color: rgba(0,0,0,0.2);
}

/* Float four columns side by side */
.column {
  float: left;
  width: 20%;
  padding: 0 10px;
}

.row-container {
  display: flex;
  height: 400px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  /*margin: 40px -5px;*/
  /*display: inline-block;*/
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  border-radius: 10px;
  padding: 20px;
  height: 150px;
  text-align: left;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  
  position: relative;
  display: inline-block;
}

.card:hover {
  background-color: rgba(0,0,0,0.010);
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.card-icon {
  position: absolute;
  top: 15px;
  right: 10px;
  color: #d3d3d3;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.legend {
  font-size: 0.6em;
  color: white;
  text-decoration: underline;
  font-weight: 400;
}

.legend:hover {
  color: white;
}

@media screen and (max-width: 1100px) {
  .github-fork-ribbon {
    display: none;
  }
}

.page-title-header {
  font-size: 130%;
  line-height: 1.0em;
    
  padding: 40px;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3); /*,0 2px 6px 2px rgba(60,64,67,.15);*/
  position: relative;
  margin-left: -30px; margin-right: -30px; /* compensate body margin */
  margin-bottom: 40px;
  border-top: none;
  border-bottom: none;
  
  /*background-color: #f5f6f7;*/
  /*color: #616161;*/
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/img/banner2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.divider {
  border-top: 1px solid #dadada;
  margin: auto 80px;
  max-width: 1000px;
}

.flex-container {
  padding: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.flex-item {
  padding: 15px;
  width: 350px;
  height: auto;
  margin-top: 10px;
  text-align: center;
}

.flex-large-item-left {
  text-align: left;
  width: 50%;
  height: auto;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 5%;
  letter-spacing: 0.25px;
}

.flex-large-item-right {
  text-align: left;
  width: 25%;
  height: auto;
  margin-top: 10px;
  margin-right: 10%;
  letter-spacing: 0.25px;
}