div.headertitle .title {
  font-size: 125%;
  text-align: center;
  color: #ffffff;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  margin: 0;
}

h1
{
  border-bottom: 15px solid #101010;
  padding-top: 0.5em;
  color: #ffffff;
  text-align: center;
  font-size: 125%;
  margin: 0;
  padding-bottom: 0.5em;
  border-top: 15px solid #101010;
}

div.header {
  margin: 0;
  padding: 0;
}

div.headertitle h1, div.headertitle .title {
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: bold;
}

div.headertitle .title {
  min-height: 1em;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

div.contents {
  padding-top: 1em;
}

.navigation, #top {
  padding-bottom: 0.5em;
  border-bottom: 15px solid #101010;
}

.navigation ul, #top ul {
  text-align: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inline-block;
}

.navigation li.current a, .navigation li.current a:hover, #top li.current a, #top li.current a:hover {
  color: #ffffff !important;
  font-weight: bold;

}

.navigation li, #top li {
  float: left;
  padding-left: 0.5em;
  font-size: 75%;
  margin-left: 0.75em;
  margin-right: 0.75em;
}

.tabs {
  text-align: center;
}

.tabs a {
  font-weight: bold;
}

h2 {
  font-size: 110%;
  text-align: center;
  color: #ffffff;
  padding-top: 0.5em;
  border-bottom: 15px solid #101010;
  padding-bottom: 0.5em;
  margin: 0;
  margin-bottom: 0.5em;
}

.textblock
{
  border-bottom: 15px solid #101010;
}

h3 {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #eab72c;
  font-family: 'Cousine', 'Courier New', fixed;
}

h3.version {
  font-size: 100%;
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  color: #eab72c;
  padding-top: 0;
  margin-top: 0;
}

.mainsection {
  font-size: 75%;
}

hr.footer {
  height: 15px;
  background: #101010;
  border: none;
  display: block;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0.5em;
}

hr {
  display: none;
}

pre, .fragment {
  border: 15px solid #505050;
  background: #000000;
  padding-top: 15px;
  padding-bottom: 5px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding-left: 1em;
  padding-right: 0.5em;
  font-family: 'Cousine', 'Courier New', fixed;
  font-size: 75%;
  word-wrap: break-word;
  color: #ffffff;
  white-space: pre;
  line-height: 60%;
}

p code
{
  font-size: 85%;
  color: #ffffff;
}

li {
  color: #ffffff;
  font-size: 85%;
}

ul ul li {
  font-size: 100%;
}

img.footer {
  height: 1em;
  position: relative;
  top: 4px;
  padding: 0;
  margin: 0;
}

table.memberdecls {
  font-size: 14px;
  width: 100%;
  padding-top: 0;
  padding-bottom: 1em;
  border-bottom: 15px solid #101010;
}

.dyncontent
{
  padding-bottom: 0.5em;
  border-bottom: 15px solid #101010;
  margin-bottom: 0;
}

table.memberdecls td h2 {
  border-bottom: 15px solid #101010;
  padding-bottom: 0.5em;
  font-size: 125%;
  margin-bottom: 0.5em;
}

.memTemplItemRight, .memTemplItemLeft, .memTemplParams, .memItemRight, .memItemLeft, .memname, .memtemplate {
  font-family: 'Cousine', 'Courier New', fixed;
  font-size: 12px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

dl.section
{
  height: auto;
  border: none;
  background: #202020;
  display: auto;
  text-align: left;
}

.mdescLeft, .memItemLeft, .memTemplItemLeft {
  width: 20%;
  text-align: left;
}

.formulaDsp {
  text-align: center;
}

.mdescLeft, .mdescRight {
  padding-top: 0;
  padding-bottom: 1em;
  padding-left: 0;
}

.memitem {
  border-bottom: 15px solid #101010;
  margin-top: 0.5em;
  padding-top: 0.5em;
}

.memitem .memItemLeft, .memitem .memItemRight
{
  font-family: 'Cousine', 'Courier New', fixed;
  font-size: 12px;
}

.summary {
  color: 1303030;
  font-size: 75%;
  padding-left: 2em;
  padding-top: 0.5em;
}

dt {
  color: #ffffff;
}

dd {
  font-size: 85%;
}

.contents {
  font-size: 16px;
}

.indexkey {
  font-family: 'Cousine', 'Courier New', fixed;
  font-size: 12px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  padding-right: 1em;
  height: 1.5em;
  max-width: 350px;
}

.indexvalue {
  font-size: 14px;
  position: relative;
  top: -4px;
}

table {
  padding-top: 1em;
}

.paramtype {
  color: #bb2222;
}

.paramname {
  color: #eab72c;
  font-style: normal;
}

.paramname code {
  color: #ffffff;
}

dd td em {
  font-style: normal;
  font-family: 'Cousine', 'Courier New', fixed;
  font-size: 12px;
  color: #eab72c;
}

dd td {
  font-size: 14px;
}

dd table {
  padding-top: 0.5em;
}

dl.return dd {
  padding-top: 0.5em;
}

.mdescRight p {
  margin: 0;
  padding: 0;
}

.mdescRight br {
  display: none;
}

.memname tr td code {
  color: #eab72c;
}

.contents img {
  max-width: 600px;
}

.dyncontent .center {
  text-align: center;
}

.dyncontent img {
  border: 15px solid #101010;
  background: #000000;
  padding: 5px;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#titlearea {
  display: none;
}

.fragment .preprocessor {
  color: #ff00ff;
}

.fragment .comment {
  color: #00ffff;
}

.fragment .keyword {
  color: #ffff00;
}

.fragment .keywordtype {
  color: #00ff00;
}

.fragment a {
  font-weight: normal;
  font-size: 100%;
}

dl.author dt {
  font-size: 85%;
}

td.memTemplParams {
  padding-left: 20%;
}

div.template_decl, div.type_decl, div.template {
  color: #cc3333;
}

div.equals, div.open_bracket, div.close_bracket, div.comma {
  color: #ffffff;
}

div.default_argument div.identifier {
  color: #a0a0a0;
}

div.template_param div.type_decl,
div.template_param div.comma {
  display: inline;
  padding-right: 0.5em;
}

div.template_param div.equals {
  display: inline;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

div.template_param div.default_argument,
div.template_param div.identifier {
  display: inline;
  padding-right: 0;
}

div.template_decl, div.open_bracket, div.template_param_list {
  display: table-cell;
  text-align: left;
}

div.template_template_param div.template, div.template_template_param
div.open_bracket {
  display: inline;
}

div.template_template_param {
  display: table;
}

div.template_param div.close_bracket {
  display: inline;
}

div.template_template_param div.type_decl,
div.template_template_param div.comma, div.template_template_param
div.identifier, div.template_template_param div.default_argument div.equals {
  display: inline;
  padding-right: 0.5em;
}

div.template_template_param div.default_argument div.identifier,
div.template_template_param div.default_argument,
div.template_template_param div.identifier,
div.template_template_param div.close_bracket {
  display: inline;
  padding: 0;
}

div.template_template_param div.equals {
  display: inline;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

div.template_template_param_name {
  display: table-caption;
  caption-side: bottom;
  padding-left: 3em;
}

div.template_template_param div.template_param_list {
  display: table-cell;
  text-align: left;
}
